*{
    margin: 0;
    padding: 0;
}
.panel1{
    height: 40px;
    background-color: rgb(231, 21, 21);
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    padding-left: 5px;
    justify-content: space-evenly;
    
    
}
.icons{
    display: flex;
    position: absolute;
    left: 20px;
}
.icon{
    padding-left: 8px;
    padding-right: 8px;
    border-right: 1px solid white;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding-left: 50px;
}
.call{
    display: flex;
}
.email{
    display: flex;
    padding-left: 45px;

}
.signup{
    display: flex;
    align-items: center;
    position: absolute;
    right: 200px;
    right: 200px;
}


button{
    height: 30px;
    width: 120px;
    border: 2px solid white;
    border-radius: 20px;
    background-color:rgba(198, 146, 14);
    }
button a {
    text-decoration: none;
    color: white;
}
.navbar{
    height: 60px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    color: white;
    
}
.navbar i {
    position: absolute;
    left: 30px;
}
.land{
    font-weight: 900;
    position: absolute;
    left: 60px;
    
}
.option{
    display: flex;
    align-items: center;
    
}
.option p {
    padding-left: 10px;
    padding-right: 10px;
}
.option a{
    text-decoration: none;
    color: white;
}
.buy{
    height: 60px;
    background-color: rgb(215, 215, 45);
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    color: white;
    align-items: center;
    font-size: 1.3rem;
}
.search{
    display: flex;
    position: absolute;
    right: 150px;
    height: 30px;
    /* align-items: center; */
}
.search-icon{
    position: absolute;
    right:70px ;
    padding-top: 5px;
    color: black;
}
.placeholder1{
    width: 300px;
    border: 2px solid red;
    border-radius: 20px;
}
.hero-section{
    height: 500px;
    background-image: url(hero_image.jpg);
    background-size: cover;
    
}
.hero-text{
    width: 70vw;
    position: absolute;
    top: 400px;
    margin-left:  30px; ;
    padding: 30px;
    border-left: 4px solid white;
    background-color:rgba(14, 1,1, 0.6)
    

}
.p1{
    color:white;
    font-size: 2rem;
    font-weight: 700;
}
.p2{
    color: white;
    font-size: 1.3rem;
}
.buttons{
    padding-top: 25px;   
}
.bt2{
    margin-left: 30px;
}
.sub-main{
    height: 300px;
    background-color: white;
    width: 50%;
    padding: 50px;
}
.main1{
    padding-bottom: 10px;
    border-bottom: 4px solid red;
    font-size: 1.6rem;
}
.main2{
    padding: 20px;
    font-size: 1.3rem;
}
.main{
    display: flex;
}
.sub-main2{
    height: 370px;
    width: 50%;
    background-image: url(main.png);
    background-size: cover;
    
}
.box1{
    height: 250px;
    width: 350px;
    background-color: white;
}
.box2{
    height: 250px;
    width: 350px;
    background-color: white;
}
.box3{
    height: 250px;
    width: 350px;
    background-color: white;
}
.box{
    border: 2px solid black;
    height: 300px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
    }
    .box-img{
        height: 230px;
        background-size: cover;
        margin-bottom: 1rem;
        
    }
    .panel2{
        display: flex;
        justify-content: space-around;
        background-color: rgb(172, 161, 161);
    }
.box p{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}
.footer{
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot1{
    padding-left: 15px;
}