.calculator {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
}
.display {
    grid-column: span 4;
    text-align: right;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.buttons{
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 5px;  
}
button {
    padding: 20px;
    font-size: 18px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}
